.image-wrapper {
    width: 50%;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
}

body div {
    display: flex;

}
.intro {
    font-size: 30px;
}

.sport {
    font-size: 25px;
}

.about-me {
    font-size: 25px;
}
