.image-wrapper {
    width: 50%;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
}

body div {
    display: flex;

}
.intro {
    font-size: 30px;
}

.sport {
    font-size: 25px;
}

.about-me {
    font-size: 25px;
    
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(cat-test.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.form-box{
    width: 500px;
    background: rgba(0, 0, 0, 0.8);
    margin: 12%;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0);
}

